# Compiled files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# Build folders
bin/
target/
out/

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Environment files
.env